<div>Provide personal information so that we can create a new account for you.</div>
<form [formGroup]="formGroup" (ngSubmit)="onSubmit($event)">
  <div>
    <label>
      <span>Your Name</span>
      <input
          type="text"
          formControlName="nameUser"
          [ngClass]="{'name-error': formGroup.controls.nameUser.invalid && formGroup.controls.nameUser.dirty}"
          class="name"
      />
    </label>
    <div class="hint-error">{{ nameMessage$ | async }}</div>
  </div>
  <div>
    <label>
      <span>Mobile</span>
      <select
          formControlName="prefixes"
      >
        <option *ngFor="let prefix of prefixes" [ngValue]="prefix">
          {{ prefix.code }}
        </option>        
      </select>
    </label>  
    <label>
      <input
          type="text"
          formControlName="phoneUser"
          [ngClass]="{'name-error': formGroup.controls.phoneUser.invalid && formGroup.controls.phoneUser.dirty}"
          class="name"
          mask="000 000 000"          
      />
    </label> 
    <div class="hint-error">{{ phoneMessage$ | async }}</div>  
  </div>
  <div>
    <label>
      <span>Can you play chess?</span>
      <input 
          type="radio" 
          value="Yes" 
          formControlName="chessUser"
      />Yes
      <input 
          type="radio" 
          value="No" 
          formControlName="chessUser"
      />No
    </label>
    <div>{{ chessMessage$ | async }}</div>
  </div>
  <button
      type="submit"
      [disabled]="buttonDisabled$ | async"
  >Continue</button>
</form>