<div>Provide personal information so that we can create a new account for you.</div>
<form [formGroup]="formGroup" (ngSubmit)="onSubmit($event)">
  <div>
    <label>
      <span>Your Name</span>
      <input
          type="text"
          formControlName="nameUser"
          [ngClass]="{'name-error': formGroup.controls.nameUser.invalid && formGroup.controls.nameUser.dirty}"
          class="name"
      />
    </label>
    <div class="hint-error">{{ nameMessage$ | async }}</div>
  </div>
  <button
      type="submit"
      [disabled]="buttonDisabled$ | async"
  >Continue</button>
</form>