<div class="register">  
  <div class="register__popup">
    <div class="register__popup__left"></div>
    <div class="register__popup__box">
      <h2>Your account</h2>
      <h3>Summary of data entered into the form.</h3>
      <pre>{{ fg$ | json }}</pre>    
    </div>
    <div class="register__popup__steps">
      <div class="register__popup__steps__step">01</div>
      <div class="register__popup__steps__step">02</div>
      <div class="register__popup__steps__step active-step">03<br>Summary</div>
    </div>
  </div>
</div>